@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  background-color: gray;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 160px;
  height: 102vh;
  padding: 0 1.7rem;
  color: black;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: #fff;
  border-radius: 10px;
}
/* .sidebar:hover {
  width: 160px;
  transition: 0.5s;
} */
.messages {
  color: hwb(0 19% 6%);
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  background-color: rgba(228, 222, 222, 0.411);
  border-radius: 10px;
  height: 40px;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bolder;
}
.messagestitle {
  color: hwb(0 13% 87%);
  font-size: 15px;

  margin-top: 10px;

  border-radius: 10px;
  height: 10px;
  max-width: fit-content;
  justify-content: center;
  align-items: center;

  font-weight: bolder;
}
.blogbtn {
  display: flex;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
  margin-left: -4%;
}
.menu li {
  padding: 1rem;
  display: flex;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;
  border-bottom: gray solid;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}
.blog-wrapper t {
  display: flex;
  flex-direction: column;
  font-size: small;
}
.blog-heart {
  padding-top: 20px;
}
#delete {
  margin-top: -16%;
  margin-left: 10%;
  cursor: pointer;
}
#update {
  margin-top: -16%;
  margin-left: 56%;
  cursor: pointer;
}
.menu li:hover {
  background-color: rgb(227, 138, 64);
  max-width: 160px;
}
.menu a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
}

/* ----------main content */
#newtitleupdate {
  background-color: aqua;
  width: 40%;
  font-weight: 600;
  display: flexbox;
}
.main--content {
  position: flex;
  width: 100%;
  padding: 0.2rem;
}
.main--contents {
  position: flex;
  width: 85%;
  padding: 0.2rem;
}
.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title {
  color: peru;
}
.header--title span {
  color: black;
  font-size: larger;
}
.user--info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.search--box {
  border-bottom: gray solid;
}
.search--box input {
  background: transparent;
}
/* ---------stats ----------- */
.card--container {
  background-color: rgb(119, 117, 116);
  padding: 2rem;
  border-radius: 10px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  max-width: 300px;
}
.main--title {
  color: rgb(210, 206, 206);
  font-size: x-large;
  padding-bottom: 10px;
  font-size: 15px;
  margin: botton 140px;
}
.card--container2 {
  background-color: rgb(119, 117, 116);
  padding: 2rem;
  border-radius: 10px;
}
.main--article {
  color: rgb(210, 206, 206);
  font-size: x-large;
  padding-bottom: 10px;
  font-size: 15px;
  padding-top: 20%;
}
.payment--card {
  background-color: peru;
  width: 200px;
  height: 90px;
  top: 30%;
  display: flex;
  padding: 1.2rem;

  margin-left: 3%;
  float: right;
}
.payment--card p {
  font: 100;
  display: flex;
  text-transform: lowercase;
  width: 60%;
}
.payment--card img {
  height: 50%;
  width: 35%;
}
.payment--cards {
  background-color: peru;
  width: 190px;
  height: 130px;
  display: flex;
  padding-right: 90px;
  float: right;
  left: 30;
  padding-left: -60%;
}
.amounts img {
  display: flex;
  left: 19px;
  top: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin-left: 30%;
}
.amounts p {
  display: flex;
  font-weight: 800;
  font: 200%;
  font-size: x-large;
  margin-top: -55%;
  width: 25%;
}
.cards {
  width: fit-content;
  float: left;
  display: flex;
  gap: 50px;
  padding-left: 90px;
  margin-top: 4%;
}
#title {
  background-color: #ffab2ccc;
  font-size: larger;
  font: bolder;
}
.title {
  font-size: x-large;
  color: #fff;
  font: bolder;
  gap: 3px;
}
.title p {
  font-size: x-large;
  color: #fff;
  font: bolder;
  float: right;
}
.graph {
  width: 20%;
  padding-left: 40px;
  margin-top: 10%;
}
.graph img {
  border-radius: 3px;
  width: 200%;
}

.refresh {
  color: black;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}
/* ---------article------ */
.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  width: 100%;
}
.box-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.article1 {
  background-color: peru;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}
.article1 p {
  padding: 10px 10px 10px 10px;
}
footer {
  color: rgb(3, 3, 3);
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  margin-top: 12%;
  margin-bottom: 0%;
}
button {
  background-color: #fff;
}
button:hover {
  background-color: rgb(227, 138, 64);
  cursor: pointer;
}
.blogs {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  max-width: 100%;
}

.blog-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.blog-wrapper {
  padding: 10px;
  width: 300px;
  height: 300px;
  background-color: rgb(188, 183, 183);
  border-radius: 8px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  flex-direction: column;
}
.adminImgView {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  margin-top: 0;
}
.adminImgLikes {
  width: 100%;
  height: 35%;
  border-radius: 20px;
  margin-top: 0;
}

/* .blog-wrapper img {
  width: 100%;
  height: 30%;
  border-radius: 20px;
  margin-top: 0;

} */

.blog-wrapper t {
  display: flex;
  width: 100%;
  font-size: medium;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  padding: 0px 1px 0px 2px;
}

.blog-wrapper h3 {
  display: flex;
  width: 90%;
  font-size: medium;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}

.blog-heart {
  display: flex;
  width: 40px;
  height: 90px;
  bottom: 0%;
  right: 8%;
  margin-left: 40%;
  position: static;
  scroll-margin: 100px;
}

.blogs a {
  color: #211b12;
  text-decoration: none;
}

.blog1 {
  background-color: rgba(207, 205, 204, 0.868);
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  margin-left: -3%;
}
.summernote {
  max-width: 10%;
}
.queries1 {
  background-color: rgba(236, 146, 101, 0.868);
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 100px;
  border-radius: 10px;
  margin-left: -3%;
}
.queries2 {
  background-color: rgba(236, 146, 101, 0.868);
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 100px;
  border-radius: 10px;
  margin-left: -3%;
  flex-wrap: wrap;
}
.SAVE {
  background-color: chocolate;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 0;
  margin-left: 0;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  padding-right: 60px;
}
.SAVE:hover {
  color: chocolate;
  font-weight: bolder;
  background-color: black;
}
