body {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;


}

form {
    width: 130%;
    margin-left: -30%;
    height: 300px;
    flex-wrap: wrap;
    border-radius: 40px;
    display: grid;
    margin-top: 1%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #FFF3E8;
    padding-top: 30%;

}
.openmenu li{
    display: none;
    
   }
.log-in{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.log{
    background-color: #DD9C3C;
    height: 30px;
    width:80px;
    margin-top:1px
}
.log:hover{
    background-color: black;
    color: #DD9C3C;
    font: 300;
    width: 90px;
    height: 40px;
}
label {
    color: #DD9C3C;
    text-align: left;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    margin-top: -30%;
    margin-bottom: -5%;
    font-weight: 700;
    line-height: 10%;
    /* 40.32px */
    text-transform: uppercase;
    top: 200px;
}
.error{
    color:rgb(7, 7, 7);
    font-size: 15px; 
    font-weight: 600;
    margin-top:10px ;
    background-color: rgb(235, 171, 171);
    border-radius: 10px;
    height: 40px;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
  }
input {
    display: grid;
    justify-content: center;
    width: 270px;
    height: 20px;
    border: #ffffff solid;
    border-radius: 10px;
    margin-top: 0;



}

button {
    background-color: #DD9C3C;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    margin-top: -30%;
    margin-left: 50%;

}


h1 {
    color: #4F4747;
text-align: center;
font-family: Syne;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 126%; /* 40.32px */
text-transform: uppercase;
width: 312px;
height: 25.6px;
flex-shrink: 0;
}

p {
    margin-bottom: -5%;
    margin-left: -5%;
    white-space: nowrap;


}

.backbtn {
    width: 20%;
    margin-left: 2%;

}


@media (max-width:590px){
    .log-in{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    form{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    height: 260px;
        
    }
    label{
    margin-right: 40px;
    padding-left: 11px;
    display: flex;
    top: -3%;
    position: relative;
    }
    button{
        width:80px
    }
    h1{
        display: flex;
        position: relative;
        top: 20px;
        padding-left: 40%;
    }
    
}
@media(max-width:450px) {
 p{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-2%;
    left: 25px;
    white-space: nowrap;
    
}
 .backbtn{
    display: grid;
    margin-top:2%;
    width:30%
}

label{
    margin-right: 40px;
    padding-left: 11px;
    display: flex;
    top: -5%;
    position: relative;
    }

    h1{
        display: flex;
        position: relative;
        top: 10px;
        padding-left: 30%;
    }
    
}
@media (max-width:360px){
    .log-in{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    form{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
    width: 90%;
    margin-left: 0;
    height: 320px;
        
    }
    label{
    margin-right: 40px;
    padding-left: 11px;
    display: flex;
    top: -3%;
    position: relative;
    }
    button{
        width:80px
    }
    h1{
        display: flex;
        position: relative;
        top: 20px;
        padding-left: 20%;
    }
    
 
}
@media screen and (max-width:310px){
    .log-in{
        display: flex;
        position: relative;

    }
    form{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
    width: 100%;
    margin-left: 30px;
    height: 320px;
        
    }
    input{
        width: 80%;
    }
    label{
    margin-right: 40px;
    padding-left: 11px;
    display: flex;
    top: -3%;
    position: relative;
    }
    button{
        width:80px
    }
    h1{
        display: flex;
        position: relative;
        top: 20px;
        padding-left: 20%;
    }
    
 
}

@media (max-width:290px){
    .log-in{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    form{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
    width: 60%;
    left: 4px;
    right: 4px;
    height: 320px;
        
    }
    label{
    margin-right: 40px;
    padding-left: 11px;
    display: flex;
    top: -3%;
    position: relative;
    }
    button{
        width:80px
    }
    h1{
        display: flex;
        position: relative;
        top: 20px;
        padding-left: 20%;
    }
    input{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        padding: 2px 2px;
    }
    p{
        display: grid;
        align-items: center;
        justify-content: center;
        position: relative;
        top:-2%;
        left: 10px;
        white-space: nowrap;
        
    }
 
}