@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap");


* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    background-color: white;
    display: inline-table;
    max-width: 100%;
    width: 50vw;
    height: 80vh;
    overflow-x: hidden;
    position: relative;
    
}

.arm {
    position: absolute;
    width: 280.779px;
    height: 700.200px;
    flex-shrink: 0;
    margin-top: 20px;
}

.header {
    width: 25%;
    margin-left: 60%;
    margin-top: 40px;
}

@media screen and (max-width: 1082px) {
    .header {
        width: 60%;
        margin-left: 40%;
    }
}

@media screen and (max-width: 722px) {
    .header {
        width: 40%;
        margin-left: 20%;

    }

    .arm {
        display: none;
    }
}


.header ul {
    width: 100%;
    padding: 14px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li a {
    color: #BF7506;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.header li a:hover {
    font-weight: 700;
}

.name {
    width: 40%;
    margin-left: 16%;
    margin-top: 1%;
    padding-top: 1px;
    align-items: center;
    justify-content: center;


}

.name h1 {

    margin-left: 10%;
    white-space: nowrap;
    text-align: center;
    color: var(--Neutral-900, #211B12);
    
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1.44px;
}
.name h5{
    color: var(--Neutral-900, #211B12);
margin-left: 55px;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 135%;
letter-spacing: -0.48px;
}

font {
    color: orange;

}

.icons {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    margin-left: 45px;

}

.icons ul {

    width: 60%;
    padding: 14px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.common-icon {
   
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #BF7506;
    display: flex;
    
    justify-content: center;
    padding-top: 1%;
    

display: flex;
width: 160px;
height: 40px;
flex-direction: row;
margin-top: -12px;
gap: 2px;
flex-shrink: 0;
margin-left: 80%;



}

.common-icons {
    height: 40px;
    width: 30%;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #BF7506;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    float: left;

    margin-left: 30px;

}

.common-icon img {
    margin-right: 14px;
}

.card-content .common-icons img {
    display: flex;
    width: 20px;
    height: 20px;
    bottom: 0%;
    right: 5%;
    left: 0%;
    margin-left: 4%;
    position: absolute;
    scroll-margin: 100px;
}

.card-content .common-icons p {
    display: flex;
    width: 20px;
    height: 15px;
    bottom: 2%;
    float: left;
    left: 5%;
    padding-left: 17px;
    margin-left: 6%;
    position: absolute;
    scroll-margin: 100px;
}

/*         wrapper------------  */

.wrapper {
    margin: 30px auto;
    width: 60%;
    height: 501px;
    height: fit-content;
    display: flex;
    margin-left: 15%;
    margin-top: 6%;
}

.wrapper img {
    
    left: 20px;
    float: left;
    padding-left: 10px;
    margin-right: 40px;


    width: 300px;
height: 400px;

}

.wrapper .me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper h2 {
    color: var(--Neutral-900, #211B12);

/* Heading 3 */
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 135%; /* 32.4px */
letter-spacing: -0.48px;
}

.wrapper p {
    color: var(--Neutral-900, #211B12);

    /* Body */
    font-family: sans-serif;
    font: bolder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.wrapper h1 {
    color: var(--Brand-900, #BF7506);

    /* Heading 2 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 40px */
    letter-spacing: -0.96px;
}

.wrapper h3 {
    font-size: smaller;
    font: 100px;
    color: orange;
    font-family: sans-serif;
    padding-top: 0;
    margin-top: 5px;
}
.me img{
    width: 200px;
height: 74.627px;
flex-shrink: 0;
}

/*-----------experince---------*/

.experience {
    padding-left: 15.5%;
    top: 50%;
}

.experience ul {
    padding-left: 0%;
    position: relative;
    margin-top: -1%;
}

.experience h2 {
    padding-bottom: 20px;
    position: relative;
    font-size: medium;
    padding-left: 3px;
    padding-top: 0px;

}

.experience li {
    position: relative;
    padding-left: 3px;
    display: inline-block;
    border: 1px solid;
    border-color: orange;
    border-radius: 3px;
    margin-left: auto;
    transition: background-color 0.3s ease;
}

.experience li:hover {
    background-color: #985c5c;
    cursor: pointer;

}

/*-----------------card-container------*/
.title {
    padding-left: 13%;
    font-weight: bold;
    top: 65%;
    padding-top: 20px;
color: var(--Brand-900, #BF7506);
/* Heading 1 */
font-family: sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 60px */
letter-spacing: -1.44px;
}

.projects {
    display: flex;
    left: 11%;
    position: relative;
    margin-top: -1%;
}

.card-contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px 0px;

}

.card {
    padding: 10px;
    left: 20px;
    width: 400px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0 0, 0, 2);
    margin: 19px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h1 {
    white-space: nowrap;
    color: #BF7506;
}

.card-content ul {
    padding-left: 0%;
    position: relative;
}

.card-content li {
    position: relative;
    padding-left: 3px;
    display: inline-block;
    border: 1px solid;
    border-color: orange;
    border-radius: 3px;
    margin-left: auto;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(121, 58, 13);

}

/*  ---------------------blog------------------*/

.blogs {
    position: relative;
    display: flex;
    margin-left: 1%;
    margin-bottom: 2px;
    max-width: 1215px;
    width: 100%;
    padding: 40px 0;
  


}
.slide-content{
    margin: 0 4px;
}

.blog-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;
    margin-left: 1%;
    flex-wrap: wrap;
    flex-direction: row;
}

.blog-wrapper {
    padding: 10px 14px;
    left: 20px;
    width: 340px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.blog-wrapper img {
    width: 100%;
    height: 50%;
}

.blog-wrapper h3 {
    display:flex;       

}

.blog-heart {
    display: flex;
    width: 40px;
    height: 50px;
    bottom: 0%;
    right: 8%;
    margin-left: 40%;
    position: static;
    scroll-margin: 100px;

}

/*---------form----------------*/
.form {
    display: flex;
    position: relative;
    margin-top: 8%;
    margin-left: 3%;
    justify-content: center;

}

.contact {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    margin-left: 1px;
    flex-direction: column;

}

.contact h2 {
    top: 0%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.contact input,
textarea {

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 60px;
    padding-left: 1%;
    border-radius: 10px;
    border: 2px solid darkgray;
    outline: 0;


}

.contact label {
    position: block;
    display: flex;
    margin-right: 10px;
    top: 20%;
    left: 5%;
    padding: 5px;
    float: inline-start;
    background-color: white;
}

.armright {
    display:flex;
    position: absolute;
    margin-bottom: 0rem;
bottom: -1%;
    right: -3%;
    width: 310.909px;
height: 468px;
flex-shrink: 0;
}

@media screen and (max-width: 722px) {


    .armright {
        display: none;
    }
}

.iconsend {
    height: 40px;
    width: 30%;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #BF7506;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    float: right;


}

.iconsend p {
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80%;
}

.last {
    display: flex;
    position: relative;
    margin-left: 43%;
    color: grey;
    margin-top: 40px;
}

@media screen and (max-width: 665px) {


    .name {
        width: 60%;
        margin-left: 20%;
    }

}


.swiper-navBtn{
  color:#BF7506 ; 
  border: #985c5c; 

}
.swiper-navBtn:hover{
    color:#211B12;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-Bullet{
    background-color: aqua;
    opacity: 1;
    
}
.swiper-pagination-Bullet-active{
    background-color: black;
}

@media screen and(maxwidth:768px){
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
       display:none; 
    }
    
}
@media (max-width:663px){
   .name{
    width: 40%;
    margin-left: 20%;

   }
   .name  h1{
display: flex;
position: relative;
align-items: flex-start;
margin-block-start: 0%;
font-size:larger;
 
   }
   .name h5 font h1{
    width: 30%;
    display: flex;
    max-height: 40% fit-content;
    max-width: 40% fit-content;
    white-space:nowrap;
   }
    
}

@media screen and(max-width:460px)  {
       .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;

        
       }
    
}
@media (min-width:445px)  {
    .wraper.me{
     display: flex;
     flex-wrap: wrap;
     gap:1rem;
   background-color: #985c5c;
     
     
    }
    
 
}