@import url(“https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap”);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: static;
    max-width: 100%;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    background-color: white;
    display: inline-table;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.arm {
    position: absolute;
}

.header {
    width: 25%;
    margin-left: 60%;
    margin-top: 40px;
}

@media screen and (max-width: 1082px) {
    .header {
        width: 40%;
        margin-left: 40%;
    }
}

@media screen and (max-width: 722px) {
    .header {
        width: 60%;
        margin-left: 20%;
    }

    .arm {
        display: none;
    }
}

.header ul {
    width: 100%;
    padding: 14px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    color: #BF7506;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.header li:hover {
    font-weight: 700;
}

.name {
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.name h1 {
    font-size: 46px;
    font-weight: 900;
    white-space: nowrap;
    color: #BF7506;
    text-align: center;
}

font {
    color: orange;
}

.icons {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icons ul {
    width: 60%;
    padding: 14px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-icon {
    height: 40px;
    width: 30%;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #BF7506;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-icon img {
    margin-right: 14px;
}

/*         wrapper------------  */
.wrapper {
    margin: 60px auto;
    width: 50%;
    height: 501px;
    height: fit-content;
    background-color: thistle;
    display: flex;
}

.wrapper img {
    max-width: 150px;
    left: 20px;
    float: left;
    padding-left: 10px;
    margin-right: 20px;
}

.wrapper .me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper h2 {
    padding-left: 0%;
    margin-left: 10px;
    font-size: medium;
    color: black;
    margin: 2px;
}

.wrapper p {
    padding-left: 40px;
    margin-left: 20px;
    font-size: 10px;
    margin: 2px;
}

.wrapper h1 {
    font-size: medium;
    color: orange;
    padding-top: 0;
    margin-top: 5px;
}

.wrapper h3 {
    font-size: smaller;
    font: 100px;
    color: orange;
    font-family: sans-serif;
    padding-top: 0;
    margin-top: 5px;
}

/*-----------experince---------*/
.experience {
    padding-left: 26%;
    top: 65%;
}

.experience ul {
    padding-left: 0%;
    position: relative;
}

.experience h2 {
    position: relative;
    font-size: medium;
    padding-left: 3px;
}

.experience li {
    position: relative;
    padding-left: 3px;
    display: inline-block;
    border: 1px solid;
    border-color: orange;
    border-radius: 3px;
    margin-left: auto;
}

/*-----------------card-container------*/
.title {
    padding-left: 26%;
    color: orange;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 65%;
}

.projects {
    padding-left: 26%;
    position: relative;
}

.card-contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0 0, 0, 2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content ul {
    padding-left: 0%;
    position: relative;
}

.card-content li {
    position: relative;
    padding-left: 3px;
    display: inline-block;
    border: 1px solid;
    border-color: orange;
    border-radius: 3px;
    margin-left: auto;
}