@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap");




body{
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

h1{
    display: grid;
    position: absolute;
    margin-left: 300px;
    font:200;
    margin-top: -5%;
    color: #4F4747;
text-align: center;
font-family: Syne;
font-size: 42px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 60.48px */
text-transform: uppercase;
}
.page{
    display: flex;
    
    float: right;
    width: 80%;
    height: 80%;
    
    margin-left: -30%;
   
}
.page img{
    width: 150%;
    height: 50%;
    margin-right: 10px;
    border-radius: 20px;
}
.page p{
    position: absolute;
    margin-left: 40%;
    max-width: 30%;
    
}
.phrase2{
    position: absolute;
    padding-top: 1%;
    margin-left: 4%;
    margin-top: 10%;
    width: 90%;
   
    
}
@media (max-width:920px){
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        font-size: x-large;
    }

    img{
        width: 390px;
        height: 10px;
    }
    .phrase1{
display: flex;
width: 300px;
}
.phrase2{
    font:100;
    font-size: medium;
    margin-top: 20%;
}
.like{
    margin-top: 60%;
}
}

/* -----------likes_------------ */
.like{
    display: flex;
    float: left;
    padding-left: 20%;
}
.likes{
background-color: rgb(227, 222, 220);
width: 60px;
height: 30px;
display: flex;
float: left;
border-radius: 18px;
align-items: center;
justify-content: center;
margin-left: 5%;
margin-top: 14%;


}
.likes img{
    width: 25px;
}
.likes:hover{
    background-color: rgb(8, 79, 129);
     color:rgb(238, 240, 241);
     cursor: pointer;
}

.comment-like{
    display: flex;
    float: left;
    padding-left: 105%;
    
    
     
}
.comment-likes{
   background-color: black;
    width: 60px;
    height: 20px;
    display: flex;
    float: right;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: -40%; 
    color: antiquewhite;
    
}
.comment-likes img{
    width: 25px;

}

/* ----------comment-------------------- */

.comment-sec{
    display: contents;
    justify-content: center;
   display: grid;
   margin-top: 10%;
   margin-left: 0%;
}
.comment-sec h1{
    margin-left: 10%;
    margin-top: -4%;
    text-transform: lowercase;
    font-size: 30px;
}
.comment-box{
display: grid;
height: 70%;
margin-left: -30%;
margin-top: -1%;
width: 400px;
border-radius: 15px;
padding: 10px 3px;
justify-content: center;
align-items: center;
background-color: #4f47476e;

}

.contact {

    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    margin-left: -10%;
    flex-direction: column;


}

.contact h1 {
    top: -25%;
    left: -25%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: large;

}

.contact label {
    position: block;
    display: flex;
    margin-right: 10px;
    top: -20%;
    left: -5%;
    padding: 5px;
    float: inline-start;
    background-color: white;
    z-index: 1;
}

.contact input {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 60px;
    left: 5%;
    padding-left: 1%;
    border-radius: 10px;
    border: 2px solid darkgray;
    outline: 0;
    top: -25%;

}
